
table.table
{
	margin-top: 15px;
}

table.table thead a
{
	color: #444;
}

code.blue
{
	color: blue;
	background-color: light-blue;
}

table.singleRecord th
{
	text-align: right;
}

table.singleRecord th,
table.singleRecord td
{
	padding: 4px;
}

