
hr
{
	clear: both;
}

table.table
{
	margin-top: 15px;
}

table.table thead a
{
	color: #444;
}

code.blue
{
	color: blue;
	background-color: light-blue;
}

table.singleRecord
{
	max-width: 100%;
}

table.singleRecord th
{
	text-align: right;
}

table.singleRecord th,
table.singleRecord td
{
	padding: 4px;
}

td.pubKey
{
	word-wrap:break-word;
	overflow: hidden;
	max-width: 800px;
}

a.dead,
tr.dead
{
	color: gray;
	text-decoration: line-through;
}

tr.important
{
	background-color: #F08080 !important;
}

tr.important:hover
{
	background-color: #FF8080 !important;
}

.pagination > .active > a
{
	background-color: #667;
	border-color: #888;
}

.pagination > li > a
{
	color: #888;
}

#otpForm pre.big
{
	font-size: 3em;
	text-align: center;
	font-family: monospace;
}

#otpForm .primary
{
	margin: 25px auto;
	width: 735px;
}

#otpForm .secondary
{
	margin: 50px auto;
	width: 735px;
	border: 1px solid gray;
	padding: 15px;
}

#otpForm .secondary td
{
	padding: 10px;
}

#otpForm .qrCode
{
	float:left;
}

#otpForm .numericCode
{
	float:left;
	margin-top: 33px;
	margin-left: 15px;
}

#otpForm .buttons
{
	clear: both;
	text-align: center;
	margin-top: 15px;
}

#otpForm input,
#otpForm select
{
	margin: 5px 10px;
}

#otpForm .qrCode img
{
	margin: 15px;
	/* providing the size here helps a bit with the jarred-loading */
	width:177px;
	height:177px;
}

.warning
{
	padding:10px;
	margin:10px;
	border: 2px solid red;
}

#otpPeriod
{
	width: 20px;
}

#pppForm input
{
	margin-bottom: 10px;
}

#pppForm img
{
	float: right;
	cursor: zoom-in;
	width: 208px;
	height:192px;
	margin: 20px;
}

#pppForm .primary
{
	float:left;
}

body.user_credentials_add td,
body.user_credentials_add th
{
	vertical-align: middle !important;
}

body.user_credentials_add .main tr:hover
{
	background-color: #eee;
}

body.user_credentials_add .main table .btn
{
	padding: 2px 10px;
}

body.user_credentials_add .main form .btn
{
	margin-top: 10px;
	margin-left: 10px;
}

.user_names_add #username
{
	margin-bottom: 10px;
}
