
table.table
{
	margin-top: 15px;
}

table.table thead a
{
	color: #444;
}

code.blue
{
	color: blue;
	background-color: light-blue;
}

table.singleRecord
{
	max-width: 100%;
}

table.singleRecord th
{
	text-align: right;
}

table.singleRecord th,
table.singleRecord td
{
	padding: 4px;
}

td.pubKey
{
	word-wrap:break-word;
	overflow: hidden;
	max-width: 800px;
}

a.dead
{
	color: gray;
	text-decoration: line-through;
}

