
#qrauth
{
	width: 800px;
	color: black;
	background-color: white;
	clear: both;
}

#qrauth .outer
{
	padding: 10px;
	/*box-sizing: border-box;*/
	position: relative;
}

#qrauth warning
{
	color: black;
	border: 2px solid red;
	
	padding: 15px;
	margin: 15px;
	display: block;
	position: relative;
	top: 15px;
}

#qrauth methods
{
	display:block;
	width:100%;
	box-sizing: border-box;
	z-index: 3;
}

#qrauth methods prompt
{
	padding: 5px;
	height: 1px;
}

#qrauth methods a
{
	border-left : 1px solid darkgray;
	border-top  : 1px solid darkgray;
	border-right: 1px solid darkgray;

	color: darkgray;
	background-color: white;

	padding: 5px;
	display:inline-block;
	box-sizing: border-box;
	cursor: pointer;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	text-decoration: none;
}

#qrauth methods a.active
{
	color: black;
	font-weight: bold;
	border: 2px solid black;
	border-bottom: none;
	padding: 5px;
	position:relative;
	top:2px;
}

#qrauth arena,
#qrauth table
{
	color: black;
	background-color: white;
}

#qrauth arena
{
	border: 2px solid black;
	border-radius: 10px;

	margin-bottom: 10px;

	/* can't be relative, and keep the tab overlap :(
	position: relative;
	*/

	width:100%;
	height: 410px;
	padding: 10px;
	display: none;
	box-sizing:border-box;

	z-index: 2;

	overflow-y: auto;
}

#qrauth arena.active
{
	display: block;
}

#qrauth liner
{
	position:relative;
	
}

#qrauth left
{
	height: 232px;

	position: absolute;
	width: 210px;
	left:10px;
	top:55px;

	margin: 10px;
	box-sizing:border-box;
}

#qrauth right
{
	height: 240px;

	position: absolute;
	left: 30%;
	right:10px;
	top:55px;

	padding: 15px;
	box-sizing:border-box;

	border-left: 1px dashed lightgray;

}

#qrauth lower
{
	position: relative;
	top: 257px;
	display:block;
	padding: 10px;
}

#qrauth input,
#qrauth textarea
{
	color: black;
	background-color: lightgray;
}

#qrauth_rsa textarea
{
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}

#qrauth_rsa pre
{
	text-align: center;
}

#qrauth_sqrl left
{
	text-align: center;
	background-color: white;
}

#qrauth_sqrl left a
{
	text-decoration: none;
}

#qrauth_sqrl img
{
	margin: 7px 10px 15px 10px;
}

#qrauth_ppp img
{
	float: right;
}

#qrauth_sqrl hostname
{
	margin-top: 10px;
	font-size: 16px;
	/*font-weight: bold;*/
	font-family: monospace;
}

#qrauth_sqrl noscript input
{
	margin-top:10px;
}

#qrauth table
{
	/*border-spacing: 10px;*/
	border-collapse: collapse;
	
}

#qrauth_ppp table
{
	margin: 20px 0;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

#qrauth_otp table
{
	margin: 10px 10px 0 134px;
	width: 482px;
}

#qrauth_otp table input
{
	width: 100%;
}

#qrauth_overview table
{
	text-align: center;
}

#qrauth_overview th.password
{
	font-size: small;
}

#qrauth td,
#qrauth th
{
	padding: 10px;
	border: 1px dashed gray;
}

#qrauth yes:after
{
	content:"Yes";
	color: green;
	font-weight: bold;
}

#qrauth no:after
{
	content:"NO";
	color: red;
	font-weight: bold;
}

#qrauth_clipboard1
{
	float: right;
	color: darkgray;
	text-decoration: underline;
	cursor: copy;
}

#qrauth_sms_stale
{
	display:none;
	border: 2px solid red;
	font-size: 20px;
	margin: 50px;
	padding: 50px;
}

#qrauth_sms_fresh
{
}

#qrauth_sms_fresh h3
{
	text-decoration: underline;
	text-align: center;
}

#qrauth_sms_fresh left
{
	width:336px;
}

#qrauth_sms_fresh right
{
	left: 48%;
}

/*
CSS cloud source (mixed):
---------------------------------
http://thecodeplayer.com/walkthrough/make-a-simple-cloud-in-css3
http://stackoverflow.com/questions/16508834/css-apply-border-to-a-cloud-shape
*/

#qrauth cloud
{
    display: block;
    position: relative;
    margin: 20px;
    height: 110px;
    width: 195px;
}

#qrauth_sms cloud
{
	margin-left: 85px;
}

#qrauth cloud *
{
    border: solid 5px black;
    display: block;
}

#qrauth cloud span
{
	display:block;
	position: absolute;
	bottom:28px;
	left:6px;
	right:10px;
	height: 40px;
	border: none;
	text-align: center;
	z-index: 3;
}

#qrauth cloud bulk
{
    background-color: #fff;
    border-radius: 100px;
    height: 80px;
    position: absolute; 
    top: 14px;
    width: 190px;
    text-align: center;
    padding: 24px;
    z-index: 1;
}

#qrauth cloud hump1
{
    background-color: #fff;
    border-radius: 100%;
    height: 80px;
    left: 83px;
    position: absolute; 
    top: -13px;
    width: 80px;
    z-index: 0;
}

#qrauth cloud hump2
{
    background-color: #fff;
    border-radius: 100%;
    height: 65px;
    left: 26px;
    position: absolute; 
    top: -3px;
    width: 65px;
    z-index: 0;
}

#qrauth cloud::before
{
    background-color: white;
    border-radius: 50%;
    content: '';
    height: 66px;
    left: 30px;
    position: absolute; 
    top: 1px;
    width: 57px;
    z-index: 2;
    display: block;
}

#qrauth cloud::after
{
    position: absolute;
    top: -8px;
    left: 90px;
    background-color: white;
    border-radius: 50%;
    content: '';
    width: 66px;
    height: 54px;
    z-index: 1;
    display: block;
}

#qrauth envelope
{
	position: relative;
	display: block;
	text-align: center;
	width: 64px;
	height: 37px;
	border: 3px solid black;
}

#qrauth envelope::after
{
	display: block;
	content:' ';
	position:absolute;
	left:1px;
	top:0;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: white;
}

#qrauth envelope::before
{
	content: ' ';
	display: block;
	position:absolute;
	left:-3px;
	top:0;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-top-color: black;
}

#qrauth envelope flap
{
	position: absolute;
	top:3px;
	left:1px;
	right:1px;
	bottom:1px;
	border:none;
	text-align: center;
	z-index:3;
	font-weight:bold;
}

#qrauth_sms envelope
{
	margin-left: 58px;
}
